# The build dir
build
outs
out

# Binaries
*.so
*.a

# Temporary and backup files
*~
*#
.\#*

# 3d model imports
*.blender
*.blend*

# External models
scenes/teapot
scenes/conference
scenes/dragon
scenes/buddha
scenes/dragon-sponza
scenes/coffee